<div class="wrapper">
    <div class="heading">
        <nav>
            <li class="active">Latest</li>
            <li>Top</li>
            <li>Featured</li>
        </nav>
    </div>
    <div class="card">
        <img src="https://i.guim.co.uk/img/media/73ec9db7723a38dba49ba7409c57da3a779b9531/690_23_3882_2329/master/3882.jpg?width=620&quality=85&auto=format&fit=max&s=372bc821a8d937e821981014036b2c8f" alt="">
        <div class="card--contents">
            <h3><a href="#">Key Republicans sign letter warning against,candidate</a></h3>
            <p><em>1h ago</em></p>
        </div>
    </div>
    <div class="card">
        <img src="https://static01.nyt.com/images/2016/08/09/business/09UP-Medicaid/09UP-Medicaid-superJumbo.jpg?quality=90&auto=webp" alt="">
        <div class="card--contents">
            <h3><a href="#">Obamacare Appears to Be Making People Healthier</a></h3>
            <p><em>1h ago</em></p>
        </div>
    </div>
    <div class="card">
        <img src="https://i.guim.co.uk/img/media/73ec9db7723a38dba49ba7409c57da3a779b9531/690_23_3882_2329/master/3882.jpg?width=620&quality=85&auto=format&fit=max&s=372bc821a8d937e821981014036b2c8f" alt="">
        <div class="card--contents">
            <h3><a href="#">Key Republicans sign letter warning against candidate</a></h3>
            <p><em>1h ago</em></p>
        </div>
    </div>
</div>

















<!-- <aside class="col-lg-4 side-bar col-md-12">
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home"
                role="tab">Latest</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Top</a>
        </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages"
                role="tab">Featured</a>
        </li>
    </ul>

    <div class="tab-content sidebar-tabing" id="nav-tabContent">
        <div class="tab-pane active" id="home" role="tabpanel">
            <div class="media"> <a href="#"> <img class="d-flex mr-3"
                        src="https://i.guim.co.uk/img/media/73ec9db7723a38dba49ba7409c57da3a779b9531/690_23_3882_2329/master/3882.jpg?width=620&quality=85&auto=format&fit=max&s=372bc821a8d937e821981014036b2c8f"
                        alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <h2 class="title-small"><a href="#">Key Republicans sign letter warning against
                                candidate</a></h2>
                    </div>
                    <div class="news-auther"><span class="time">1h ago</span></div>
                </div>
            </div>
            <div class="media"> <a href="#"> <img class="d-flex mr-3"
                        src="https://static01.nyt.com/images/2016/08/09/business/09UP-Medicaid/09UP-Medicaid-superJumbo.jpg?quality=90&auto=webp"
                        alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People
                                Healthier</a></h2>
                    </div>
                    <div class="news-auther"><span class="time">1h ago</span></div>
                </div>
            </div>
            <div class="media"> <a href="#"> <img class="d-flex mr-3"
                        src="https://i.guim.co.uk/img/media/73ec9db7723a38dba49ba7409c57da3a779b9531/690_23_3882_2329/master/3882.jpg?width=620&quality=85&auto=format&fit=max&s=372bc821a8d937e821981014036b2c8f"
                        alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <h2 class="title-small"><a href="#">Key Republicans sign letter warning against
                                candidate</a></h2>
                    </div>
                    <div class="news-auther"><span class="time">1h ago</span></div>
                </div>
            </div>
        </div>
    </div>
</aside> -->