<div class="container" (resize)="checkwrapper()">
    <div class="sidebar--toggle" (click)="opennavbar()"><div></div></div>
    <div class="wrapper" id="wrapper">
            <nav>
                <li class="active" (click)="addactive($event)" id="home">Home</li>
                <li (click)="addactive($event)">General</li>
                <li (click)="addactive($event)">World</li>
                <li (click)="addactive($event)">Politics</li>
                <li (click)="addactive($event)">Business</li>
                <li (click)="addactive($event)">Science</li>
                <li (click)="addactive($event)">Sports</li>
                <li (click)="addactive($event)">Tech</li>
                <li (click)="addactive($event)">Travel</li>
                <li (click)="addactive($event)">Health</li>
            </nav>
    </div>
    <div class="search">
        <input type="text" placeholder="Search for news" [(ngModel)]="searchvalue">
        <button (click)="searchnews()"><i class="fa fa-search"></i></button>
    </div>
</div>