<div class="container" (resize)="checkwrapper()">
    <div class="sidebar--toggle" (click)="opennavbar()"><div></div></div>
    <div class="wrapper" id="wrapper">
            <nav>
                <li class="active">Home</li>
                <li>World</li>
                <li>Politics</li>
                <li>Business</li>
                <li>Science</li>
                <li>Sports</li>
                <li>Tech</li>
                <li>Travel</li>
                <li>Health</li>
            </nav>
    </div>
    <div class="search">
        <input type="text" placeholder="Search for news">
        <button><i class="fa fa-search"></i></button>
    </div>
</div>