<div class="wrapper">
    <div class="heading">
        <h1>Politics</h1>
    </div>
    <div class="content" (scroll)="handlescroll($event)">
        <div class="card">
            <img src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
            <div class="card--contents">
                <h3><a href="#">Minorities Suffer From Unequal Pain Treatment</a></h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p><em>3 mins ago</em></p>
            </div>
        </div>
        <div class="card">
            <img src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
            <div class="card--contents">
                <h3><a href="#">Minorities Suffer From Unequal Pain Treatment</a></h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p><em>3 mins ago</em></p>
            </div>
        </div>
        <div class="card">
            <img src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
            <div class="card--contents">
                <h3><a href="#">Minorities Suffer From Unequal Pain Treatment</a></h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p><em>3 mins ago</em></p>
            </div>
        </div>
        <div class="card">
            <img src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
            <div class="card--contents">
                <h3><a href="#">Minorities Suffer From Unequal Pain Treatment</a></h3>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p><em>3 mins ago</em></p>
            </div>
        </div>
    </div>
</div>



















<!-- <p>searched-news works!</p>
<div class="col-lg-8 col-md-12">
    <h3 class="heading-large">Politics</h3>
    <div class="">
        <div class="col-lg-6 card">
            <div class="card"> <img class="img-fluid"
                    src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
                <div class="card-body">
                    <div class="news-title"><a href="#">
                            <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                        </a></div>
                    <p class="card-text">Some quick example text to build on the card title and make up
                        the
                        bulk of the card's content.</p>
                    <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 card">
            <div class="card"> <img class="img-fluid"
                    src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
                <div class="card-body">
                    <div class="news-title"><a href="#">
                            <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                        </a></div>
                    <p class="card-text">Some quick example text to build on the card title and make up
                        the
                        bulk of the card's content.</p>
                    <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 card">
            <div class="card"> <img class="img-fluid"
                    src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
                <div class="card-body">
                    <div class="news-title"><a href="#">
                            <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                        </a></div>
                    <p class="card-text">Some quick example text to build on the card title and make up
                        the
                        bulk of the card's content.</p>
                    <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 card">
            <div class="card"> <img class="img-fluid"
                    src="https://static01.nyt.com/images/2016/08/06/us/00pain-web1/00pain-web1-superJumbo.jpg?quality=90&auto=webp" alt="">
                <div class="card-body">
                    <div class="news-title"><a href="#">
                            <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                        </a></div>
                    <p class="card-text">Some quick example text to build on the card title and make up
                        the
                        bulk of the card's content.</p>
                    <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                </div>
            </div>
        </div>
    </div>
</div> -->